<launch>  
  <node pkg="ucontroller_tilaunchpad" type="lm4f_driver.py" name="lm4f_driver" output="screen">
    <remap from="/vel_cmd" to="/cmd_vel"/>
    <param name="listening_to_navstack" value="True" type="bool"/>
  </node>
  <node pkg="joystick" type="drive_with_controller.py" name="xbox360_driver" output="screen"/>
</launch>
